*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Comfortaa', cursive;
}

sup{
	font-size: 10px;
}

/*LOGO*/
.navbar{
	height: 65px;
	width: auto;
	background-color: #FF8C00;
	border-bottom:10px solid orangered;
}

.logo{
	display: inline-block;
	float: left;
	/*width: 50%;*/
	padding: 10px 0 0 50px;
	margin: auto;
}

.logo p{
	display: inline-block;
	color: white;
	font-size: 30px;
}

.logo p span:first-child{
	font-weight: bold;
}

.logo img{
	display: inline-block;
	float: left;
	height: 30px;
	width: 30px;
}

.links{
	float: right;
	margin: auto;
	padding: 20px 50px 0 0;
}

.links .site li{
	display: inline-block;
}

.links .site li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: 12px;
}

/*SEARCHBAR*/
.searchbox{
	height: 35px;
}

.searchbar{
	float: right;
	margin-right: 60px;
}

.search input{
	border: none;
	border-radius: 2px;
	background-color: whitesmoke;
	height: 35px;
	padding: 5px;
	margin-top: 5px;
}

.search{
	background-color: whitesmoke;
}

/*BANNER*/
.banner{
	margin: 0 auto;
}

/*SECTION 1*/
.image{
	float: left;
	width: auto;
	margin-left: 20%;
}

.image img{
	height: 250px;
	width: 350px;
	padding-top: 70px;
}

/*SECTION 2*/
.section2{
	float: right;
	width: auto;
	margin-right: 20%;
	height: 250px;
	padding-top: 40px;
}

.quote p{
	padding: 40px 0;
	word-spacing: 2px;
	color: #FF8C00;
	font-size: 24px;
}

.quote p span:first-child{
	font-weight: bold;
}

span.web{
	color: #00CED1;
}

.quote p span:last-child{
	color: #00CED1;
}

/*BUTTONS*/
.buttons{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.button1{
	background-color: #FF8C00;
	color: white;
	border: none;
	border-radius: 2px;
	padding: 10px 30px;
	margin-right: 40px;
}

.button2{
	background-color: #00CED1;
	color: white;
	border: none;
	border-radius: 2px;
	padding: 10px 20px;
}

/*FOOTER*/
footer{
	position: absolute;
	height: 75px;
	width: 100%;
	background-color: #00CED1;
	bottom: 0px;
}

